---
import BaseLayout from '../layouts/BaseLayout.astro';
import TopoCanvas from '../components/topo/TopoCanvas.astro';
---
<BaseLayout>
  <section style="position: relative; height: 80vh;">
    <TopoCanvas />
  </section>
</BaseLayout>
